.designationGridHeader
{
text-align:right;
padding:5px;
}
.designationGridSNOColumnTitle
{
width:60px;
text-align:center;
}
.designationGridDesignationColumnTitle
{
width:200px;
text-align:center;
}
.designationGridEditOptionColumnTitle
{
width:100px;
text-align:center;
}
.designationGridDeleteOptionColumnTitle
{
width:100px;
text-align:center;
}